body {
	width: 90%;
	margin: 20px auto;
	font-family: Arial;
}

h4 {
	font-family: 'Segoe UI', Tahoma, Verdana;
	margin-bottom: 10px;
	font-size: larger;
	font-weight: bold;
}

input[type="submit"] {
	padding: 0px 7px 4px;
	font-family: 'Segoe UI', Tahoma, Verdana;
}

.title-bar {
	background-color: #C3D9FF;
	border-radius: 5px;
	padding: 5px 10px;
	font-family: 'Segoe UI', Tahoma, Verdana;
	font-weight: bold;
	margin-bottom: 20px;
}

.title-bar > a {
	color: #000;
	padding-right: 10px;
	border-right: 1px solid #000;
	margin-left: 5px;
}

.title-bar a:last-child {
	border-right: none;
}

.error {
	color: #FF0000;
	font-size: smaller;
}

.form_container {
	border: 1px solid #C3D9FF;
}

.form_container > * {
	padding: 5px 20px 20px;
	margin: 3px;
	background-color: #E8EEFA;
}

table {
	background-color: #C3D9FF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

table a {
	color: black;
}

#login_form_container {
	width: 400px;
	text-align: center;
}

#login_form input {
	margin: 5px 10px;
}

#password-list {
	width: 800px
}

table .menu th {
	background-color: #7A7D7D;
	padding: 2px 15px;
	font-family: 'Segoe UI', Tahoma, Verdana;
	color: #eee;
	border-bottom: 1px solid #616464;
	font-weight: bold;
}

table .menu th:first-child, table .menu th:last-child {
	width: 0px;
	border-bottom: none;
	background-color: transparent;
	padding: 5px;
}

table th.inner-first {
	border-top-left-radius: 5px;
}

table th.inner-last {
	border-top-right-radius: 5px;
}

table .input {
	padding: 15px;
}

table input[type=search] {
	width: 100%;
}

table td:first-child, table td:last-child {
	background-color: transparent;
	border-bottom: none;
	padding: 0px;
}

table tbody td {
	background-color: #F7F7F7;
	border-bottom: 1px solid #DEDEDE;
	padding: 0px 15px;
}

#password-list tbody td.password:hover .mask {
	display: none;
}

#password-list tbody td.password .real {
	display: none;
}

#password-list tbody td.password:hover .real {
	display: inline;
}

#password-list tbody td.desc {
	color: #888;
	font-size: small;
}

#password-list tbody td.desc span.full-desc {
	display: none;
}

table tbody tr:hover td {
	background-color: #fff;
}

table tbody tr:hover td:first-child, table tbody tr:hover td:last-child {
	background-color: transparent;
}

table tfoot td {
	background-color: #7A7D7D;
	height: 6px;
}

#password-list tfoot tr.spacer td {
	background-color: transparent;
	height: 10px;
}

#password-list tfoot .options {
	padding: 3px 12px 0;
}

#new_password_form {
        width: 235px;
	float: left;
}

#new_password_form label {
        display: block;
        margin-top: 10px;
}

#new_password_form input[type="submit"] {
        margin-top: 10px;
}


#groups {
	margin-left: 20px;
	float: left;
}

